*, *::before, *::after {
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 80%;
}



.header {
    padding: 28px 0;
    background-color: #0B273C;
    color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        font-size: 27px;
        font-weight: bold;
    }

    &-nav {
        display: flex;
        align-items: center;

        .nav {

            &-list {
                display: flex;
                align-items: center;
            }

            &-item {

                &:not(:last-child) {
                    margin-right: 30px;
                }

                &__link {
                    font-size: 20px;

                    &.active {
                        position: relative;
                        
                        &:after {
                            content: '';
                            height: 2px;
                            width: 70%;
                            position: absolute;
                            left: 50%;
                            bottom: -2px;
                            transform: translateX(-50%);
                            background-color: #fff;
                        }
                    }

                    &.btn {
                        padding: 10px 20px;
                        background-color: #3E86C9;
                        color: #fff;
                        font-size: 20px;
                        border-radius: 55px;
                    }
                }
            }
        }

        .langs {
            margin-left: 50px;
            font-size: 20px;
        }
    }
}



.info {

    &-title {

    }

    .text {

    }

    .info-block {

        .text {

        }

        .img {

        }
    }

    &-stats {

    }
}



.benefits {

    .title {

    }

    .descr {

    }

    .link-more {

    }

    .list {

        .item {
            
        }
    }
}