*, *::before, *::after {
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0B1E2C;
    color: #fff;
    font-family: 'Montserrat', sans-serif;;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 80%;
}



.header {
    padding: 28px 0;
    position: relative;
    background-color: #0B273C;
    color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }

    &__logo {
        font-size: 27px;
        font-weight: bold;

        @media (max-width: 1000px) {
            margin-bottom: 30px;
            align-self: center;
        }
    }

    &__nav {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .menu {
            display: flex;
            align-items: center;

            @media (max-width: 800px) {
                display: none;
                margin-top: 30px;
                padding: 30px;
                min-width: 400px;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                background-color: #0B273C;
                border-radius: 20px;
            }

            @media (max-width: 450px) {
                min-width: 90%;
            }

            &.isVisible {
                flex-direction: column;
            }

            &__item {

                &:not(:last-child) {
                    margin-right: 30px;

                    @media (max-width: 800px) {
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }

                &--langs {
                    margin-left: 20px;
                    padding: 10px 20px;
                    display: inline-block;
                    font-size: 20px;
                    border: 2px solid #3E86C9;
                    border-radius: 100px;
                    cursor: pointer;

                    @media (max-width: 800px) {
                        margin-left: 0;
                    }
                }
            }

            &__link {
                font-size: 20px;

                &.active {
                    position: relative;
                    
                    &:after {
                        content: '';
                        height: 2px;
                        width: 70%;
                        position: absolute;
                        left: 50%;
                        bottom: -2px;
                        transform: translateX(-50%);
                        background-color: #fff;
                    }
                }

                &.btn {
                    padding: 10px 20px;
                    background-color: #3E86C9;
                    color: #fff;
                    font-size: 20px;
                    border-radius: 55px;
                }
            }

            &__toggle {
                height: 30px;
                width: 28px;
                display: none;
                cursor: pointer;

                @media (max-width: 800px) {
                    display: inline-block;
                }

                &.on {

                    span {
                        background-color: transparent;

                        &::before {
                            transform: rotate(45deg) translate(5px, 5px);
                        }

                        &::after {
                            transform: rotate(-45deg) translate(7px, -8px);
                        }
                    }
                }

                span {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 5px;
                    background-color: #ffffff;
                    transition: all 0.3s;
                    backface-visibility: hidden;
                    border-radius: 2px;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: -9px;
                        width: 100%;
                        height: 5px;
                        background-color: #ffffff;
                        transition: all 0.3s;
                        backface-visibility: hidden;
                        border-radius: 2px;
                    }

                    &::after {
                        top: 9px;
                    }
                }
            }
        }
    }
}



.info {

    &__title {

    }

    .text {

    }

    .info-block {

        .text {

        }

        .img {

        }
    }

    &-stats {

    }
}



.benefits {

    &__title {

    }

    &__descr {

    }

    &__link-more {

    }

    &__list {

        .list__item {
            
        }
    }
}