*, *::before, *::after {
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #141414;;
    color: #fff;
    font-family: 'Montserrat', sans-serif;;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
  }
.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 80%;
}



.header {
    padding: 28px 0;
    position: relative;
    background-color: #0B273C;
    color: #fff;
    transition: all 0.4s ease;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }

    &.sticky {
        width: 100%;
        position: fixed;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    &__logo {
        font-size: 27px;
        font-weight: bold;

        @media (max-width: 1000px) {
            margin-bottom: 30px;
            align-self: center;
        }

        @media (max-width: 800px) {
            align-self: flex-start;
        }
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @media (max-width: 800px) {
            align-self: flex-end;
        }

        .menu {
            display: flex;
            align-items: center;
            z-index: 999;

            @media (max-width: 800px) {
                display: none;
                padding: 30px;
                min-width: 400px;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                background-color: #0B273C;
                border-radius: 20px;
            }

            @media (max-width: 450px) {
                min-width: 90%;
            }

            &.isVisible {
                flex-direction: column;
            }

            &__item {

                &:not(:last-child) {
                    margin-right: 30px;

                    @media (max-width: 800px) {
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }

                &--langs {
                    margin-left: 20px;
                    height: 42px;
                    width: 70px;
                    position: relative;
                    display: inline-block;
                    border: 2px solid #3E86C9;
                    border-radius: 100px;
                    cursor: pointer;

                    .select-hidden {
                        display: none;
                        visibility: hidden;
                        padding-right: 10px;
                    }

                    .select {
                        height: 40px;
                        width: 100%;
                        position: relative;
                        display: inline-block;
                        color: #fff;
                        background-color: transparent;
                        color: #fff;
                        font-family: inherit;
                        font-size: 18px;
                        border: none;
                        cursor: pointer;

                        @media (max-width: 600px) {
                            width: 100%;
                        }
                    }

                    .select-styled {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        text-transform: uppercase;
                        transition: all 0.2s ease-in;
                    }

                    .select-options {
                        display: none;
                        position: absolute;
                        top: 100%;
                        right: 0;
                        left: 0;
                        z-index: 999;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        background-color: #0d0d0d;
                        color: #fff;
                        border: 1px solid rgba(#fff, 0.5);
                        border-radius: 10px;
                        overflow: hidden;

                        li {
                            margin: 0;
                            padding: 12px 0;
                            text-indent: 15px;
                            transition: all 0.15s ease-in;

                            &:not(:last-child) {
                                border-bottom: solid 1px rgba(#fff, .4);
                            }

                            &:hover {
                                background: rgba(#fff, .5);
                                color: #000;
                            }

                            &[rel="hide"] {
                                display: none;
                            }
                        }
                    }

                    &-select {

                        &:focus {
                            outline: none;
                            font-size: 18px;
                        }

                        option {
                            font-family: inherit;
                            color: #000;
                        }
                    }

                    @media (max-width: 800px) {
                        margin-left: 0;
                    }
                }

                &--auth {
                    height: 40px;
                    width: 70px;
                    position: relative;
                    display: inline-block;

                    .select-hidden {
                        display: none;
                        visibility: hidden;
                        padding-right: 10px;
                    }

                    .select {
                        height: 40px;
                        width: 100%;
                        position: relative;
                        display: inline-block;
                        color: #fff;
                        background-color: transparent;
                        color: #fff;
                        font-family: inherit;
                        font-size: 18px;
                        border: none;
                        cursor: pointer;

                        @media (max-width: 600px) {
                            width: 100%;
                        }
                    }

                    .select-styled {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        text-transform: uppercase;
                        transition: all 0.2s ease-in;
                    }

                    .select-options {
                        display: none;
                        position: absolute;
                        min-width: 160px;
                        top: 100%;
                        right: 0;
                        left: -50%;
                        z-index: 999;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        background-color: #0d0d0d;
                        color: #fff;
                        border: 1px solid rgba(#fff, 0.5);
                        border-radius: 10px;
                        overflow: hidden;

                        li {
                            margin: 0;
                            padding: 12px 0;
                            text-indent: 15px;
                            transition: all 0.15s ease-in;

                            &:not(:last-child) {
                                border-bottom: solid 1px rgba(#fff, .4);
                            }

                            &:hover {
                                background: rgba(#fff, .5);
                                color: #000;
                            }

                            &[rel="hide"] {
                                display: none;
                            }
                        }
                    }

                    &-select {

                        &:focus {
                            outline: none;
                            font-size: 18px;
                        }

                        option {
                            font-family: inherit;
                            color: #000;
                        }
                    }

                    @media (max-width: 800px) {
                        margin-left: 0;
                    }
                }
            }

            &__link {
                font-size: 20px;

                &:hover {
                    position: relative;

                    &:after {
                        content: '';
                        height: 2px;
                        width: 70%;
                        position: absolute;
                        left: 50%;
                        bottom: -2px;
                        transform: translateX(-50%);
                        background-color: #fff;
                    }
                }

                &.active {
                    position: relative;
                    
                    &:after {
                        content: '';
                        height: 2px;
                        width: 70%;
                        position: absolute;
                        left: 50%;
                        bottom: -2px;
                        transform: translateX(-50%);
                        background-color: #fff;
                    }
                }

                &.btn {
                    padding: 10px 20px;
                    background-color: #3E86C9;
                    color: #fff;
                    font-size: 20px;
                    border-radius: 55px;
                    overflow: hidden;

                    &:hover {

                        &:after {
                            content: '';
                            display: none;
                        }
                    }
                }
            }

            &__toggle {
                height: 30px;
                width: 28px;
                display: none;
                cursor: pointer;

                @media (max-width: 800px) {
                    display: inline-block;
                }

                &.on {

                    span {
                        background-color: transparent;

                        &::before {
                            transform: rotate(45deg) translate(5px, 5px);
                        }

                        &::after {
                            transform: rotate(-45deg) translate(7px, -8px);
                        }
                    }
                }

                span {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 5px;
                    background-color: #ffffff;
                    transition: all 0.3s;
                    backface-visibility: hidden;
                    border-radius: 2px;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: -9px;
                        width: 100%;
                        height: 5px;
                        background-color: #ffffff;
                        transition: all 0.3s;
                        backface-visibility: hidden;
                        border-radius: 2px;
                    }

                    &::after {
                        top: 9px;
                    }
                }
            }
        }
    }
}



.info {
    padding: 5vh 0;
    background-color: #141414;

    &__title {
        margin-bottom: 80px;
        color: #ACACAC;
        font-size: 40px;
        font-weight: bold;
    }

    .text {
        color: #ACACAC;
        font-size: 17px;
        font-weight: 500;
        line-height: 1.4;

        @media (max-width: 850px) {
            font-size: 14px;
        }

        &:not(:last-child) {
            margin-bottom: 30px;

            @media (max-width: 850px) {
                margin-bottom: 20px;
            }

            @media (max-width: 650px) {
                margin-bottom: 15px;
            }
        }
    }

    &__block {
        margin-bottom: 90px;
        display: flex;
        align-items: center;

        @media (max-width: 950px) {
            flex-direction: column;
        }

        @media (max-width: 850px) {
            margin-bottom: 50px;
        }

        .text__block {
            margin-right: 50px;

            @media (max-width: 950px) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        
        .img {
            max-width: 50%;
            min-width: 40%;

            @media (max-width: 950px) {
                max-width: 90%;
                text-align: center;
            }

            img {
                max-width: 100%;
            }
        }
    }

    &__stats {
        text-align: center;
        color: #3E86C9;
        font-weight: bold;
        font-size: 30px;
        line-height: 1.3;

        @media (max-width: 850px) {
            font-size: 24px;
        }

        @media (max-width: 750px) {
            font-size: 20px;
        }

        @media (max-width: 650px) {
            font-size: 18px;
        }

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }
}



.faq {
    padding: 7vh 0;

    &__title {
        margin-bottom: 65px;
        text-align: center;
        color: #ACACAC;
        font-size: 40px;
        font-weight: bold;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin-bottom: 90px;
        width: 30%;
        color: #ACACAC;

        @media (max-width: 1150px) {
            margin-bottom: 60px;
            width: 48%;
        }

        @media (max-width: 700px) {
            margin-bottom: 30px;
            width: 100%;
        }
        
        .title {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.3;

            @media (max-width: 700px) {
                margin-bottom: 10px;
                text-align: center;
            }
        }

        .descr {
            font-size: 16px;
            line-height: 1.6;

            @media (max-width: 700px) {
                text-align: justify;
            }
        }
    }

    &__more {
        text-align: center;
        color: #ACACAC;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.03em;

        .link {
            margin-left: 10px;
            display: inline-block;
            font-size: 18px;
            color: #3E86C9;
        }
    }
}



.benefits {
    padding: 10vh 0;

    &__title {
        margin-bottom: 25px;
        text-align: center;
        color: #ACACAC;
        font-size: 40px;
        font-weight: bold;

        @media (max-width: 800px) {
            font-size: 34px;
        }

        @media (max-width: 500px) {
            font-size: 28px;   
        }
    }

    &__descr {
        margin: 0 auto 20px;
        max-width: 550px;
        color: #ACACAC;
        font-size: 20px;
        line-height: 1.4;

        @media (max-width: 500px) {
            font-size: 16px;
        }
    }

    &__link-more {
        margin-bottom: 70px;
        display: block;
        text-align: center;
        color: #3E86C9 !important;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        img {
            margin-left: 10px;
            display: inline-block;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .list__item {
        margin-bottom: 60px;
        width: 30%;
        display: flex;
        color: #ACACAC;

        @media (max-width: 800px) {
            width: 48%;
        }

        @media (max-width: 630px) {
            margin-bottom: 30px;
            width: 100%;
        }

        .icon {
            margin-right: 10px;
            align-self: end;
        }

        .text {
            color: #D0D0D0;
            font-size: 17px;
            line-height: 1.4;
        }
    }
}



.cabinet {
    padding: 10vh 0;

    &__title {
        margin-bottom: 80px;
        color: #ACACAC;
        font-size: 40px;
        font-weight: bold;
    }

    &__info {
        margin-bottom: 60px;

        .info__item {
            display: flex;
            font-size: 20px;
            line-height: 1.3;

            @media (max-width: 800px) {
                display: flex;
                flex-direction: column;
            }

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        .item {

            &__name {
                width: 300px;
                color: #ACACAC;

                @media (max-width: 800px) {
                    margin-bottom: 5px;
                }
            }

            &__value {
                color: #858E95;

                @media (max-width: 800px) {
                    word-wrap: break-word;
                }
            }
        }
    }

    .withdrawal__btn {
        padding: 20px 10px;
        min-width: 240px;
        display: inline-block;
        background: #315EFB;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        border-radius: 100px;
        cursor: pointer;
    }
}



.contact {
    padding: 15vh 0;

    @media (max-width: 500px) {
        padding: 10vh 0;
    }

    &__title {
        margin-bottom: 60px;
        color: #ACACAC;
        text-align: center;
        font-size: 40px;
        font-weight: bold;

        @media (max-width: 500px) {
            font-size: 30px;
        }
    }

    &__form {
        margin: 0 auto;
        width: 700px;

        @media (max-width: 850px) {
            width: 100%;
        }

        .form__group {
            display: grid;
            grid-template-columns: 0.5fr 1fr;

            @media (max-width: 750px) {
                grid-template-columns: 1fr;
            }

            &--message {

                label {

                    @media (max-width: 750px) {
                        margin-bottom: 20px !important;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 35px;
            }

            label {
                align-self: center;
                color: #ACACAC;
                font-size: 20px;
                cursor: pointer;

                @media (max-width: 750px) {
                    margin-bottom: 10px;
                }

                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }
        }

        .form__input {
            padding: 10px 0;
            background-color: transparent;
            color: rgba(#fff, .5);
            font-size: 20px;
            border: none;
            border-bottom: 1px solid rgba(#fff, .7);

            @media (max-width: 500px) {
                font-size: 18px;
            }

            &::placeholder {
                color: rgba(#fff, .5);
                font-size: 20px;

                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }

            &.filled {
                color: #315EFB;
                border-bottom: 2px solid #315EFB;

                &.form__input--message {
                    border: 2px solid #315EFB;
                }
            }

            &--message {
                padding: 20px;
                min-height: 300px;
                border: 1px solid rgba(#B8B8B8, .7);
                border-radius: 12px;
                resize: none;
            }
        }

        .form__submit {
            padding: 20px 10px;
            max-width: 240px;
            display: inline-block;
            background: #315EFB;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            border-radius: 100px;
            cursor: pointer;

            @media (max-width: 750px) {
                margin: auto;
                padding: 15px 10px;
                width: 240px;
            }
        }
    }
}



.buy {
    padding: 10vh 0;

    &__title {
        margin-bottom: 60px;
        color: #ACACAC;
        text-align: center;
        font-size: 40px;
        font-weight: bold;

        @media (max-width: 500px) {
            font-size: 30px;
        }
    }

    &__form {
        margin: 0 auto;
        width: 700px;

        @media (max-width: 850px) {
            width: 100%;
        }

        .info__panel {
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            @media (max-width: 350px) {
                flex-direction: column;
            }

            .amount {
                margin-right: 70px;
                padding: 10px 15px;
                width: 130px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 20px;
                border: 2px solid #3E86C9;
                border-radius: 85px;

                @media (max-width: 600px) {
                    margin-right: 30px;
                }

                @media (max-width: 450px) {
                    margin-right: 10px;
                }

                .minus,
                .plus {
                    color: #3E86C9;
                    font-size: 30px;
                    cursor: pointer;
                }

                .number {
                    color: #fff;
                }
            }

            .total {
                margin-right: 30px;
                color: #ACACAC;
                font-size: 25px;

                @media (max-width: 450px) {
                    font-size: 20px;
                }
            }

            .currency {

                @media (max-width: 450px) {
                    margin-top: 15px;
                }

                .select-hidden {
                    display: none;
                    visibility: hidden;
                    padding-right: 10px;
                }

                .select {
                    height: 40px;
                    width: 100px;
                    position: relative;
                    display: inline-block;
                    font-size: 16px;
                    color: rgba(#fff, .5);
                    background-color: transparent;
                    color: #fff;
                    font-family: inherit;
                    font-size: 18px;
                    border: none;
                    cursor: pointer;
                }

                .select-styled {
                    padding-left: 15px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    transition: all 0.2s ease-in;
                    border: 2px solid #3E86C9;
                    border-radius: 65px;

                    &:after {
                        content:"";
                        width: 0;
                        height: 0;
                        border: 7px solid transparent;
                        border-color: #fff transparent transparent transparent;
                        position: absolute;
                        top: 16px;
                        right: 15px;
                    }

                    &:active, &.active {

                        &:after {
                            top: 9px;
                            border-color: transparent transparent #fff transparent;
                        }
                    }
                }

                .select-options {
                    display: none;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                    z-index: 999;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    background-color: #0d0d0d;
                    color: #fff;
                    border: 1px solid rgba(#fff, 0.5);
                    border-radius: 10px;
                    overflow: hidden;

                    li {
                        margin: 0;
                        padding: 12px 0;
                        text-indent: 15px;
                        transition: all 0.15s ease-in;

                        &:not(:last-child) {
                            border-bottom: solid 1px rgba(#fff, .5);
                        }

                        &:hover {
                            background: rgba(#fff, .5);
                            color: #000;
                        }

                        &[rel="hide"] {
                            display: none;
                        }
                    }
                }

                &-select {

                    &:focus {
                        outline: none;
                        font-size: 18px;
                    }

                    option {
                        font-family: inherit;
                        color: #000;
                    }
                }
            }
        }

        .form__group {
            display: grid;
            grid-template-columns: 0.5fr 1fr;

            @media (max-width: 850px) {
                grid-template-columns: 1fr;
            }

            &:not(:last-child) {
                margin-bottom: 35px;
            }

            label {
                margin-bottom: 10px;
                align-self: center;
                color: #ACACAC;
                font-size: 20px;
                cursor: pointer;

                @media (max-width: 750px) {
                    margin-bottom: 10px;
                }

                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }

            &--btc {

                label {
                    margin-bottom: 20px;
                }
            }

            .btc {
                display: flex;
                align-items: center;
                color: rgba(#fff, .5);
                font-size: 20px;

                img {
                    margin-right: 15px;
                    display: inline-block;
                }

                span {
                    font-size: 20px;
                    word-break: break-all;
                    line-height: 1.3;

                    @media (max-width: 600px) {
                        font-size: 16px;
                    }
                }
            }


            .select-hidden {
                display: none;
                visibility: hidden;
                padding-right: 10px;
            }

            .select {
                padding: 10px 0;
                height: 40px;
                width: 100%;
                position: relative;
                display: inline-block;
                font-size: 16px;
                color: rgba(#fff, .5);
                background-color: transparent;
                color: #fff;
                font-family: inherit;
                font-size: 18px;
                border: none;
                cursor: pointer;

                @media (max-width: 600px) {
                    width: 100%;
                }
            }

            .select-styled {
                padding: 8px 15px;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                color: rgba(#fff, .5);
                transition: all 0.2s ease-in;
                border-bottom: 1px solid rgba(#fff, .5);

                &.filled {
                    color: #315EFB;
                    border-bottom: 2px solid #315EFB;
                }

                &:after {
                    content:"";
                    width: 0;
                    height: 0;
                    border: 7px solid transparent;
                    border-color: rgba(#fff, .5) transparent transparent transparent;
                    position: absolute;
                    top: 16px;
                    right: 10px;
                }

                &:active, &.active {

                    &:after {
                        top: 9px;
                        border-color: transparent transparent rgba(#fff, .5) transparent;
                    }
                }
            }

            .select-options {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                z-index: 999;
                margin: 0;
                padding: 0;
                list-style: none;
                background-color: #0d0d0d;
                color: rgba(#fff, .5);
                border: 1px solid rgba(#fff, 0.5);

                li {
                    margin: 0;
                    padding: 12px 0;
                    text-indent: 15px;
                    transition: all 0.15s ease-in;

                    &:not(:last-child) {
                        border-bottom: solid 1px rgba(#fff, .4);
                    }

                    &:hover {
                        background: rgba(#fff, .5);
                        color: #000;
                    }

                    &[rel="hide"] {
                        display: none;
                    }
                }
            }

            &-select {

                &:focus {
                    outline: none;
                    font-size: 18px;
                }

                option {
                    font-family: inherit;
                    color: #000;
                }
            }
        }

        .form__input {
            padding: 10px 0;
            background-color: transparent;
            color: rgba(#fff, .5);
            font-size: 20px;
            border: none;
            border-bottom: 1px solid rgba(#fff, .7);

            @media (max-width: 500px) {
                font-size: 18px;
            }

            &::placeholder {
                color: rgba(#fff, .5);
                font-size: 20px;

                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }

            &.filled {
                color: #315EFB;
                border-bottom: 2px solid #315EFB;
            }
        }

        .form__submit {
            padding: 20px 10px;
            max-width: 240px;
            display: inline-block;
            background: #315EFB;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            border-radius: 100px;
            cursor: pointer;

            @media (max-width: 850px) {
                margin: auto;
                padding: 15px 10px;
                width: 240px;
            }
        }
    }
}



.login {
    padding: 10vh 0;

    &__title {
        margin-bottom: 60px;
        color: #ACACAC;
        text-align: center;
        font-size: 40px;
        font-weight: bold;

        @media (max-width: 500px) {
            font-size: 30px;
        }
    }

    &__form {
        margin: 0 auto;
        width: 700px;

        @media (max-width: 850px) {
            width: 100%;
        }

        .form__group {
            display: grid;
            grid-template-columns: 0.5fr 1fr;

            @media (max-width: 850px) {
                grid-template-columns: 1fr;
            }

            &:not(:last-child) {
                margin-bottom: 35px;
            }

            label {
                margin-bottom: 10px;
                align-self: center;
                color: #ACACAC;
                font-size: 20px;
                cursor: pointer;

                @media (max-width: 750px) {
                    margin-bottom: 10px;
                }

                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }
        }

        .form__input {
            padding: 10px 0;
            background-color: transparent;
            color: rgba(#fff, .5);
            font-size: 20px;
            border: none;
            border-bottom: 1px solid rgba(#fff, .7);

            @media (max-width: 500px) {
                font-size: 18px;
            }

            &::placeholder {
                color: rgba(#fff, .5);
                font-size: 20px;

                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }

            &.filled {
                color: #315EFB;
                border-bottom: 2px solid #315EFB;
            }
        }

        .form__submit {
            padding: 20px 10px;
            max-width: 240px;
            display: inline-block;
            background: #315EFB;
            text-align: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            border-radius: 100px;
            cursor: pointer;

            @media (max-width: 850px) {
                margin: auto;
                padding: 15px 10px;
                width: 240px;
            }
        }
    }
}



.popup__overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}
.popup {
    display: none;
    position: fixed;
    min-width: 600px;
    z-index: 999;
    top: 50%;
    left: 50%;
    background: #0B1E2C;
    color: #ACACAC;
    transform: translateX(-50%);
    transform: translate(-50%, -50%);
    overflow-y: auto;
    border: 0.58px solid #FFFFFF;
    border-radius: 40px;

    @media (max-width: 500px) {
        min-width: 450px;
    }

    @media (max-width: 500px) {
        max-width: 450px;
        min-width: 300px;
    }

    &__content {
        padding: 60px;

        @media (max-width: 900px) {
            padding: 45px;
        }

        @media (max-width: 700px) {
            padding: 30px;
            overflow-y: auto;
        }
    }

    &__title {
        margin-bottom: 50px;
        color: #ACACAC;
        font-size: 25px;
        font-weight: bold;
    }

    &__list {

    }

    &__item {
        padding-left: 30px;
        position: relative;
        color: #ACACAC;
        font-size: 18px;
        line-height: 1.3;

        @media (max-width: 700px) {
            font-size: 16px;
        }

        &::before {
            content: '';
            height: 12px;
            width: 12px;
            position: absolute;
            top: 2px;
            left: 0;
            background-color: #ACACAC;
            border-radius: 50%;
        }

        &:not(:last-child) {
            margin-bottom: 30px;

            @media (max-width: 700px) {
                margin-bottom: 15px;
            }
        }
    }
}



.footer {
    padding: 28px 0;
    position: relative;
    flex: 0 0 auto;
    background-color: #0B273C;
    color: #fff;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }

    &__logo {
        font-size: 27px;
        font-weight: bold;

        @media (max-width: 1000px) {
            margin-bottom: 30px;
            align-self: center;
        }

        @media (max-width: 800px) {
            align-self: flex-start;
        }
    }


    &__contact {
        display: flex;
        align-items: center;

        @media (max-width: 800px) {
            align-self: flex-end;
        }

        .contact {

            &__link {
                margin-right: 35px;
                padding: 10px 20px;
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                border: 2px solid #3E86C9;
                border-radius: 100px;
            }

            &__social {

            }
        }
    }
}
